.loginPageWrapper {
    height: 100%;
    width: 100%;
}

.loginCard {
    width: 400px;
    box-shadow: hsl(139, 12%, 63%) 1px 2px 2px 1px;
    border-radius: 15px;
    padding: 20px 8px;
    flex-direction: column;
}

.icon {
    color: #158901;
    height: 120px !important;
    width: 120px !important;
}

.inputWrapper {
    margin: 10px 18px;
}

.cssLabel {
    color : #878787 !important;
}

.notchedOutline {
    border-width: 0.5px;
    border-color: #158901 !important;
    color: #878787;
}

.button {
    background-color: #158901 !important;
    padding: 5px 15px !important;
    color: white !important;
}

.button:hover {
    background-color: #158901;
    box-shadow: hsl(138, 57%, 78%) 2px 2px 2px;
}

/* @media screen {
    
} */