.navContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navComponents {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0px 20px;
    border-bottom: 2px solid #158901;
}

.navComponent {
    cursor: pointer;
    padding: 5px 10px;
}

.navComponent:hover {
    border-radius: 8px 8px 0px 0px;
    background-color: #ccf7c4;
}

.selectedNavComponent {
    color: white;
    background-color: #158901;
    border-radius: 8px 8px 0px 0px;
}