.filterContainer {
    height: 180px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.entryHeader {
    display: flex;
    justify-content: space-between;
}

.headerOptionIcon {
    color: #158901;
    padding: 1px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.entryBody {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.entryItemWrapper {
    display: flex;
    align-items: center;
}
